*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(images/wallpaper.jpg);
    background-size: cover;
    position: relative;
}
.navbar{
    width: 88%;
    margin: auto;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 12px;
}
.navbar ul li a{
    text-decoration: none;
    color: darkgrey;
    font-size: 15px;
}
.content{
    width: 100%;
    position: absolute;
    top: 30%;
}
.left-col{
    margin-left: 6%;
}
.left-col h1{
    font-size: 85px;
    color: whitesmoke;
    line-height: 90px;
    float: left;
}
.right-col{
    float: right;
    margin-right: 6%;
    margin-top: 100px;
    display: flex;
    align-items: center;
}
.right-col p{
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    margin-right: 15px;
}
#icon{
    width: 60px;
    background-color: lavender;
    border-radius: 50%;
    cursor: pointer;
}
#icon{
    animation: spin 15s linear infinite;
}

@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

#sign-up{
    color: white;
    padding: 8px 18px;
    border-radius: 20px; 
    background-color: deeppink;
}
